.btnDelete {
    color: #FA0404;
}

.btnDelete:hover {
    color: #B00000;
}

footer {
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
}